@import 'bourbon/bourbon';

<<<<<<< HEAD
$button-color: #DE341D;
=======
$button-color: #999999;
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
$text-color: #ffffff;
$font-size: 2.25em;

@mixin buttonstyles ($button-color, $text-color) {
	@include button($button-color);
	color: $text-color;
	font-size: 1.25em;
<<<<<<< HEAD
	margin: 5px;
	padding: 10px;
=======
	margin: 3px;
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
}

@mixin bigtext($font-size) {
	font-size: $font-size;
	color: white;
	text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000;
	text-align: center;	
}

body {
	font-family: 'Source Sans Pro', sans-serif;
<<<<<<< HEAD

	background: url("../images/billie_holiday.png");
	
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;

	
//background: yellow;
	
=======
	background: url("../images/background.jpg");
	background-repeat: no-repeat;
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
}

.content {	
	margin: 0.5em auto;
<<<<<<< HEAD
	margin-bottom: -3em	;
	padding-bottom: 0;
	width: 75%;
	height: 90%;
	
//	background: orange;
}

.header {
	@include bigtext($font-size + 0.25em);
	
=======
	width: 90%;
	height: 90%;
}

.header {
	@include bigtext($font-size);
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
	
	.error-missing {
		position: absolute;
		left: 15%;
		right: 15%;
		top: 30%;
		font-size: 2.25em;
		color: $text-color;
		text-decoration: none;
		border-bottom: 2px solid $text-color;

			&:hover {
				border-bottom: 2px solid #333333;
				text-shadow: #555555 0px 1px 2px;	
			}
	}
<<<<<<< HEAD
	
	.headline {
			border-bottom: 2px groove #DE341D;
			
			margin-top: 0.5em;
			
		//	float: left;
		
		//background: blue;
	}
	

	padding: 0;
	margin: 0;
	
//background: red;
}

.pick-genre {
	position: inline-block;
	@include clearfix;
	border: 1px solid black;
//	background: orange;
}

.select-genre-p {
	margin: -0.5em auto;
}

#random-button {
	width: 22em;
	margin: -0.5em auto;
}

#again-button {
	@include buttonstyles($button-color, $text-color);
	font-size: golden-ratio(10px,  1);
	width: 22em;
=======
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
}

.result {
	@include clearfix;
	@include bigtext(1.5);
<<<<<<< HEAD
	
	width: 75%;
	

	margin: auto;
	margin-bottom: -3em;

	.movie-poster {
		width: 300px;
		height: 450px;
=======

	margin: auto;
	top: 0;
	
	.movie-poster {
		width: 300px;
		height: 500px;
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
		float: left;
		padding: 0;
		border: 1px solid white;
		@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
		margin: 0.5em 1em;
<<<<<<< HEAD

	}
	
=======
	}
	
	.title {

		margin: 0 auto;
		margin-left: 4em;
		font-size: 4em;
	}
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
	
	.movie-info {
		text-align: left;
		padding: 0 1em;
		line-height: 2em;
<<<<<<< HEAD
	//	margin: -0.5em 5em 0.5em 1em;
	//	margin-right: 5em;
		margin-top: 0.35em;
		margin-right: 5em;
				margin-left: 1em;
		display: inline;
		font-size: golden-ratio(16px, 1);
		border-bottom: 2px groove #DE341D;
		
		.red {
			color: #DE341D;
		}
		
	//	float: right;
=======
		margin: 0.5em 1em;
		margin-right: 5em;
		display: inline;
		font-size: golden-ratio(16px, 1);
		border-bottom: 2px solid white;
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
		
		li {
			list-style-type: none;
			display: inline;
		}
<<<<<<< HEAD
		
	//	background: purple;
	}
	
	.overview {

		height: 7.75em;
		text-align: left;
		font-size: golden-ratio(12px, 1);
		margin-left: 19em;
		margin-top: 18em;
		padding: 5px;
		
		border-top: 2px groove #DE341D;
	//	border-bottom: 2px groove #DE341D;
		
	//	margin-right: -0.25em;
/*	/	margin-top: 2.5em;*/
	//	margin: 0.5em 5em 0.5em 15em;
	//	padding-left: 0;
	
//	display: inline-block;
	
/*	/	float: right;*/
		
//		background: orange;
	}
	
	.movie-trailer {
		float: right;
		
	//	margin-top: -3.5em;
	margin-top: 0;
		margin-right: 0.5em;



	}
	
	
//	background: blue;
}

.result-container {
			@include clearfix;
//	background: red;
=======
	}
	
	.overview {
		height: 7.75em;
		text-align: left;
		font-size: golden-ratio(12px, 1);
		margin: 0.5em 3em;
		padding-left: 0;
	}
	
	.movie-trailer {
		margin-right: 8em;
		margin-bottom: 2em;
	}
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
}

.try-again {	
	@include buttonstyles($text-color, black);
<<<<<<< HEAD
	margin-left: 0em;
	float: left;
=======
	margin-left: 10em;
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
	width: 40%;
}

.searchtag-wrapper {
	margin: auto;	
}

.search {
	text-align: center;
	
	.searchbutton {
		@include buttonstyles($button-color, $text-color);
		width: 12em;
		padding: 10px;
	}
	
	.searchbox {
		width: 70%;
		font-size: golden-ratio(14px, 1);
		padding: 10px;
	}
}

.tags {
	text-align: center;
	
	.tag-button {
		@include buttonstyles($button-color, $text-color);
		font-size: golden-ratio(10px,  1);
		width: 10em;
<<<<<<< HEAD

=======
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
	}
	
	p {
		@include bigtext($font-size);
	}
}

<<<<<<< HEAD


.footer {
	font-size: 1.25em;

	width: 75%;
	text-align: center;
	color: black;
	margin: 4.25em auto 0.25em auto;
	padding: 5px;
	border-top: 2px groove #DE341D;
//	border-bottom: 2px groove #DE341D;

	a {
		color: black;
		text-decoration: none;
		border-bottom: 1px dashed #DE341D;
		padding: 0;
		
		&:hover {
		//	font-weight: bold;
			text-shadow: #aaaaaa 0px 1px 2px;		
		}
	} 
	
//	background: green;
=======
.footer {
	@include bigtext(1.25em);
	text-align: center;
	color: white;
	margin-top: 2.25em;

	a {
		color: white;
		text-decoration: none;
		border-bottom: 1px solid white;
		padding: 0;
		
		&:hover {
			text-shadow: #aaaaaa 0px 1px 2px;		
		}
	}
>>>>>>> 48219964ea6ec676768a43fd488f17cd56681585
}

.loader {
	position: absolute;
	top: 45%;
	bottom:45%;
	left: 48%;
	right: 48%;
	height: 200px;
	width: 300px;
}

.error {
	border: 1px solid white;
	background: #aa0000;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 0;
}

.hidden {
	display: none;
}